<% @all_projects.reverse.each do |project| %>
    <div class="row project-container">
      <div class="col profile-pic">
        <img class="profile-pic-img" src="<%= project.user.user_avatar_url %>">
      </div>
      <div class="project-title">
        <h3><a href="/projects/<%= project.id %>"><%= project.title %></a></h3>
      </div>
      <div class="col username">
        <a href=""><%= project.user.username %></a>
      </div>
      <div class="col tag-container">
        <% project.tags.each do |tag| %>
        <div class="col tag">
          <a href="#" class="button round tag"><%= tag.name %></a>
        </div>
        <% end %>
      </div>
    </div>
<% end %>
