<a href="/projects"><--Return to projects</a>

<h3>Project Title:  <%= @this_project.title %></h3>

<p>Project description: <%= @this_project.description %></p>

<div class="col tag-container">
  <% @this_projects_tags.each do |tag| %>
    <div id="<%= tag.id %>">
      <a href="/tags/<%= tag.id %>/votes" class="button round tag vote"><%= tag.name %> </a><span class='votes'><%= tag.relevance_vote %></span>
    </div>
  <% end %>
</div>

<form action="/projects/<%= @this_project.id %>" method="POST">
Add a tag:
<input type="text" name="new_tag"> <br>
<input type="submit" value="Add a tag">

<div class="code">
  <%= @html %>
</div>

